@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;

    .menu-item.router-link-active button {
        @apply !text-green-400
    }

    @media (max-width: 767px) {
        .max-dialog-maximized-mobile {
            width: 100vw !important;
            height: 100vh !important;
            top: 0 !important;
            left: 0 !important;
            max-height: 100% !important;
            height: 100% !important;
            border-radius: 0 !important;
        }
    }
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
